/*----Common-----*/
.test {
    border: 1px solid red;
}

th {
    cursor: pointer;
}

.cpad {
    padding: 0;
}

.cmargin {
    margin: 0;
}

.tableWidth {
    width: 20%;
}

.col-md-0 {
    display: none;
}

.loginBgSty {
    background-color: #E64638;
}

.adminBgSty {
    background-color: white;
}

@media only screen and (max-width:768px) {
    .col-md-0 {
        display: block;
    }
}

.showMobile {
    display: none;
}

@media only screen and (max-width:768px) {
    .showMobile {
        display: block;
    }
}

.showPc {
    display: block;
}

@media only screen and (max-width:768px) {
    .showPc {
        display: none;
    }
}

/*----Login-----*/
.login-div {
    margin: 0 auto;
    border-radius: 3px;
    background-color: white;
    padding-bottom: 20px;
}

.login-title {
    text-align: center;
    color: #E64638;
    font-weight: bold;
    font-size: 20px;
    padding-top: 30px;
}

.login-member {
    text-align: center;
    font-size: 14px;
    color: #636E7B;
    font-size: 18px;
    padding-top: 20px;
}

.login-signT {
    text-align: center;
    font-size: 14px;
    color: #E64638;
    font-size: 13px;
    padding-top: 2px;
}

.login-error {
    text-align: center;
    width: 85%;
    margin: 0 auto;
    margin-top: 15px;
    color: #E64638;
    font-weight:bold;
}

.login-userD {
    width: 85%;
    margin: 0 auto;
    margin-top: 25px;
}

.login-usererror {
    width: 85%;
    margin: 0 auto;
    margin-top: 10px;
    color: red;
    font-size: 13px;
}

.login-submitD {
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
}

.login-ck {
    width: 15px;
    height: 15px;
}

.login-ckT {
    color: #E64638;
    font-size: 12px;
}

.login-submit {
    float: right;
    margin-top: 2px;
}

.login-loading {
    margin: 0 auto;
    margin-top: 10px;
}

/*----Administration-----*/
.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

.nav-bg {
    /*background-color: #428BCA;*/
    background-color: #e64638;
}

.admin-search {
    float: right;
}

.admin-create {
    margin-bottom: 30px;
}

.admin-img-loading {
    margin: 0 auto;
    margin-top: 200px;
    display: block;
}

.admin-btn {
    margin-right: 10px;
}

/*----Receivable-----*/
.rec-label {
    height: 30px;
    line-height: 30px;
    font-weight: bold;
}

.rec-txtdrop {
    padding-top: 7px;
}

.rec-ckdiv {
    margin-top: 30px;
    padding: 0;
}

.rec-dp {
    margin-left: -20px;
}

.rec-addlist {
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

.rec-comment {
    font-weight: bold;
    margin-bottom: 10px;
}

.rec-submitD {
    margin: 0 auto;
    margin-top: 30px;
}

.rec-submit {
    width: 200px;
    margin: 0 auto;
}

.rec-process {
    margin-top: 10px;
}


/*Process*/
.progressLineardemoBasicUsage body {
    padding: 20px;
}

.progressLineardemoBasicUsage h4 {
    margin: 10px 0;
}

.progressLineardemoBasicUsage md-progress-linear {
    padding-top: 10px;
    margin-bottom: 20px;
}

.progressLineardemoBasicUsage #loaders > md-switch {
    margin: 0;
    margin-left: 10px;
    margin-top: -10px;
}

.progressLineardemoBasicUsage #loaders > h5 {
    margin-top: 0;
}

.progressLineardemoBasicUsage #loaders > p {
    margin-right: 20px;
    margin-bottom: 24px;
}

.progressLineardemoBasicUsage p.small {
    font-size: 0.8em;
    margin-top: -18px;
}

.progressLineardemoBasicUsage hr {
    width: 100%;
    margin-top: 20px;
    border-color: rgba(221, 221, 177, 0.1);
}

.progressLineardemoBasicUsage p.small > code {
    font-size: 0.8em;
}

.progressLineardemoBasicUsage .visible {
    opacity: 0;
    border: 2px solid white !important;
}

.progressLineardemoBasicUsage .container {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    border: 2px solid #aad1f9;
    transition: opacity 0.1s linear;
    border-top: 0px;
}

.progressLineardemoBasicUsage .bottom-block {
    display: block;
    position: relative;
    background-color: rgba(255, 235, 169, 0.25);
    height: 85px;
    width: 100%;
}

    .progressLineardemoBasicUsage .bottom-block > span {
        display: inline-block;
        margin-top: 10px;
        padding: 25px;
        font-size: 0.9em;
    }
