<div class="form-horizontal container cpad">
    <div class="form-group">
        <div class="col-md-1 rec-label">Drop Id</div>
        <div class="col-md-2 rec-txtdrop">
            {{dropid}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-1 rec-label">Warehouse</div>
        <div class="col-md-2">
            <select id="inputArtist" class="form-control"
                    ng-model="curLoc.selected"
                    ng-options="curLoc.LocationId as curLoc.LocationName for curLoc in curLocation"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-1 rec-label">Source</div>
        <div class="col-md-2">
            <select id="inputArtist" class="form-control form-inline"
                    ng-model="loc.selected"
                    ng-options="loc.LocationId as loc.LocationType for loc in locations"
                    ng-change="locChanged(loc.selected)"></select>
        </div>
        <div class="col-md-2">
            <select id="inputAlbum" class="form-control"
                    ng-disabled="locNotSelected"
                    ng-model="locName.selected"
                    ng-options="locName.LocationId as locName.LocationName for locName in locnames"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-1 rec-label">Date</div>
        <div class="col-md-2">
            <md-datepicker ng-model="myDate" md-placeholder="Enter date" class="rec-dp"></md-datepicker>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-1 rec-label">Bin Total</div>
        <div class="col-md-1">
            <input type="text" class="form-control" ng-model="bintotal" />
        </div>
    </div>
</div>
<div class="container rec-ckdiv">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <div class="form-group">
                    <label for="name">Fruit Category</label>
                    <select id="inputArtist" class="form-control form-inline"
                            ng-model="fc.selected"
                            ng-options="fc.CategoryId as fc.CategoryName for fc in fruitCategories"
                            ng-change="fruitChanged(fc.selected)"></select>
                </div>
            </div>

        </div>

        <div class="col-md-2">
            <div class="form-group">
                <div class="form-group">
                    <label for="name">Fruit Type</label>
                    <select id="inputArtist" class="form-control form-inline"
                            ng-disabled="fruitNotSelected"
                            ng-model="fru.selected"
                            ng-options="fru.Id as fru.FruitName for fru in fruits"></select>
                </div>
            </div>

        </div>

        <div class="col-md-2">
            <div class="form-group">
                <div class="form-group">
                    <label for="name">Bin Type</label>
                    <select id="inputArtist" class="form-control form-inline"
                            ng-model="bi.selected"
                            ng-options="bi.Id as bi.TypeName for bi in bins"></select>
                </div>
            </div>

        </div>

        <div class="col-md-2">
            <div class="form-group">
                <div class="form-group">
                    <label for="name">Number of Bins</label>
                    <input type="text" class="form-control" ng-model="numberBin" />
                </div>
            </div>

        </div>

        <div class="col-md-2">
            <div class="form-group">
                <div class="form-group">
                    <label for="name">Customer Bin?</label>
                    <div class="checkbox">
                        <label>
                            <md-checkbox ng-model="customerCkBox" aria-label="Checkbox 1" class="md-primary" style="margin-left:20px;">
                            </md-checkbox>
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row rec-addlist">
        <button type="button" class="btn btn-primary" ng-click="addlist()" ng-disabled="fc.selected == 0 || fru.selected == 0 || bi.selected == 0 || numberBin == null || numberBin == '' ">Add To List</button>
    </div>
    <div class="row cmargin">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Fruit Category
                    </th>
                    <th>
                        Fruit Type
                    </th>
                    <th>
                        Bin Type
                    </th>
                    <th>
                        Number of Bins
                    </th>
                    <th>
                        Customer Bin
                    </th>
                    <!--<th>

                    </th>-->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="model in manualList">
                    <td>
                        {{model.fruitCate}}
                    </td>
                    <td>
                        {{model.fruitTypeName}}
                    </td>
                    <td>
                        {{model.binTypeName}}
                    </td>
                    <td>
                        {{model.numBin}}
                    </td>
                    <td>
                        <md-checkbox ng-model="model.customerBin" aria-label="Checkbox 1" class="md-primary" ng-disabled="true" style="margin-left:20px;">
                        </md-checkbox>
                    </td>
                    <!--<td>
                        <a ng-click="RemoveList($index)" style="cursor:pointer;"><img src="/image/close.png" style="width:20px;height:20px" /></a>
                    </td>-->
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row cmargin">
        <div class="rec-comment">Comments</div>
        <div class="col-md-7 cpad">
            <textarea rows="7" class="form-control" ng-model="comments"></textarea>
        </div>
    </div>
    <div class="row rec-submitD">
        <div class="rec-submit">
            <md-button class="md-primary md-raised rec-submit" ng-click="showConfirm($event)" flex="100" flex-gt-md="auto" ng-disabled="IsSubmitBtn||curLoc.selected == 0||locName.selected == 0||bintotal == null||bintotal == '' || ((manualList == null || manualList == '')&&(fru.selected == 0||bi.selected == 0||numberBin == null||numberBin == ''))">
                Submit
            </md-button>
        </div>
        <div class="progressLineardemoBasicUsage rec-process" ng-controller="HomeController as vm" layout="column" ng-show="IsProcess" ng-cloak="">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
    </div>
</div>