<div class="form-horizontal container" style="padding:0;">
    <div class="form-group">
        <div class="col-md-1" style="height:30px; line-height:30px; font-weight:bold;">Drop Id</div>
        <div class="col-md-2" style="padding-top:7px;">
            {{dropid}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-1" style="height:30px; line-height:30px; font-weight:bold;">Location</div>
        <div class="col-md-2">
            <select id="inputArtist" class="form-control"
                    ng-model="curLoc.selected"
                    ng-options="curLoc.LocationId as curLoc.LocationName for curLoc in curLocation"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-1" style="height:30px; line-height:30px; font-weight:bold;">Source</div>
        <div class="col-md-2">
            <select id="inputArtist" class="form-control form-inline"
                    ng-model="loc.selected"
                    ng-options="loc.LocationId as loc.LocationType for loc in locations"
                    ng-change="locChanged(loc.selected)"></select>
        </div>
        <div class="col-md-2">
            <select id="inputAlbum" class="form-control"
                    ng-disabled="locNotSelected"
                    ng-model="locName.selected"
                    ng-options="locName.LocationId as locName.LocationName for locName in locnames"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-1" style="height:30px; line-height:30px; font-weight:bold;">Date</div>
        <div class="col-md-2">
            <md-datepicker ng-model="myDate" md-placeholder="Enter date" class="" style="margin-left:-20px;"></md-datepicker>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-1" style="height:30px; line-height:30px; font-weight:bold;">Bin Total</div>
        <div class="col-md-1">
            <input type="text" class="form-control" ng-model="bintotal" />
        </div>
    </div>
</div>
<div class="container" style="margin-top:30px; padding:0;">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <div class="form-group">
                    <label for="name">Fruit Category</label>
                    <select id="inputArtist" class="form-control form-inline"
                            ng-model="fc.selected"
                            ng-options="fc.CategoryId as fc.CategoryName for fc in fruitCategories"
                            ng-change="fruitChanged(fc.selected)"></select>
                </div>
            </div>

        </div>

        <div class="col-md-2">
            <div class="form-group">
                <div class="form-group">
                    <label for="name">Fruit Type</label>
                    <select id="inputArtist" class="form-control form-inline"
                            ng-disabled="fruitNotSelected"
                            ng-model="fru.selected"
                            ng-options="fru.Id as fru.FruitName for fru in fruits"></select>
                </div>
            </div>

        </div>

        <div class="col-md-2">
            <div class="form-group">
                <div class="form-group">
                    <label for="name">Bin Type</label>
                    <select id="inputArtist" class="form-control form-inline"
                            ng-model="bi.selected"
                            ng-options="bi.Id as bi.TypeName for bi in bins"></select>
                </div>
            </div>

        </div>

        <div class="col-md-2">
            <div class="form-group">
                <div class="form-group">
                    <label for="name">Number of Bins</label>
                    <input type="text" class="form-control" ng-model="numberBin" />
                </div>
            </div>

        </div>

        <div class="col-md-2">
            <div class="form-group">
                <div class="form-group">
                    <label for="name">Customer Bin?</label>
                    <div class="checkbox">
                        <label>
                            <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1" class="md-primary" style="margin-left:20px;">
                            </md-checkbox>
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row" style="margin:0; margin-bottom:20px; margin-top:20px;">
        <button type="button" class="btn btn-primary" ng-click="addlist()">Add in list</button>
    </div>
    <div class="row" style="margin:0;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Fruit Category
                    </th>
                    <th>
                        Fruit Type
                    </th>
                    <th>
                        Bin Type
                    </th>
                    <th>
                        Number of Bins
                    </th>
                    <th>
                        Customer Bin
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="model in manualList">
                    <td>
                        {{model.fruitCate}}
                    </td>
                    <td>
                        {{model.fruitType}}
                    </td>
                    <td>
                        {{model.binType}}
                    </td>
                    <td>
                        {{model.numBin}}
                    </td>
                    <td>
                        {{customerBin}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row" style="margin:0;">
        <div class="" style="font-weight:bold; margin-bottom:10px;">Comments</div>
        <div class="col-md-7" style="padding:0;">
            <textarea rows="7" class="form-control" ng-model="comments"></textarea>
        </div>
    </div>
    <div class="row" style=" margin:0 auto;margin-top:30px; ">
        <!--<button type="submit" class="btn btn-success" style="width:200px; display:block; margin:0 auto;" ng-click="Submit()">Submit</button>-->
        <div style="width:200px; margin:0 auto;">
            <md-button class="md-primary md-raised" ng-click="showConfirm($event)" flex="100" flex-gt-md="auto" style="width:200px; margin:0;" ng-disabled="IsSubmitBtn||curLoc.selected == 0">
                Submit
            </md-button>
        </div>
        <div class="progressLineardemoBasicUsage" ng-controller="HomeController as vm" layout="column" ng-show="IsProcess" style="margin-top:10px; " ng-cloak="">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
    </div>
</div>












